/* Write your CSS here */
.bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  font-family: 'Roboto';
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  text-align: center;
  padding: 15px;
  background-color: #ffffff;
  height: 30vh;
}
.heading {
  color: #0b69ff;
  font-size: 30px;
  font-weight: bold;
}
.desc {
  color: #333333;
  font-size: 20px;
}
.button {
  color: #ffffff;
  background-color: #0b69ff;
  height: 36px;
  width: 90px;
  border-radius: 8px;
  border-width: 0px;
  cursor: pointer;
  outline: none;
}
.num {
  color: #0b69ff;
  font-size: 40px;
}
